:root {
    --char-width: 11px;
    --char-height: 27px;
    --background: #000000;
    --foreground: #ffffff;
    --accent: #1c1c1c;
    --brighter-accent: #404040;
    --highlight: #ff0000;
}

/* Browser elements */

html, body {
    overscroll-behavior: none;
}

html * {
    font-size: 19px !important;
    color: var(--foreground) !important;
    font-family: monospace !important;
    scrollbar-color: var(--foreground) var(--background);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
}

h1 {
    padding: 0;
    margin: 0;
    background: var(--background);
    display: inline-block;
    text-decoration: underline solid var(--highlight);
    text-decoration-thickness: 2px;
}

p {
    margin-top: var(--char-height);
    margin-bottom: 0px;
}

a {
    font-weight: bold;
}

a:hover {
    text-shadow: 0px 0px 10px var(--foreground);
}

input, textarea {
    padding: 0;
    margin: 0;
    border: 2px solid var(--accent);
    outline: none;
    background: var(--background);
    resize: none;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    border: 2px solid var(--accent);
    background-color: var(--background);
}

button:hover {
    background-color: var(--accent);
    box-shadow: 0px 0px 10px 0px var(--accent);
}

iframe {
    border: none;
    position: absolute;
}

::-webkit-scrollbar {
    width: var(--char-width);
    background-color: var(--background);
}

::-webkit-scrollbar:hover {
    background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight);
}

/* Desktop */

#title {
    display: inline-block;
}

#mobileNotice {
    display: none;
}

#desktop {
    position: fixed;
    width: 100%;
    height: calc(100% - var(--char-height) * 2);
    background: var(--background);
}

.icon {
    width: calc(var(--char-width) * 8);
    height: calc(var(--char-height) * 5);
}

/* Taskbar */

#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(var(--char-height) * 2);
    background-color: #0c0c0c;
    user-select: none;
    overflow: hidden;
    display: flex;
}

.taskbarSeparator {
    margin-left: calc(var(--char-width) * 2);
    margin-right: calc(var(--char-width) * 2);
    color: var(--brighter-accent) !important;
}

#taskbarLeft {
    order: 1;
    display: flex;
}

#taskbarRight {
    order: 3;
    display: flex;
    margin-left: auto;
}

#taskbarMiddle {
    display: flex;
    order: 2;
}

#taskbarEntries {
    display: flex;
}

#taskbarEntriesLeftCap {
    z-index: 7;
    background: #0c0c0c;
    color: var(--brighter-accent) !important;
    margin-right: calc(-1 * var(--char-width));
}

#taskbarEntriesRightCap {
    z-index: 7;
    background: #0c0c0c;
    color: var(--brighter-accent) !important;
}

.taskbarEntry {
    color: var(--brighter-accent) !important;
    padding-left: var(--char-width);
    padding-right: var(--char-width);
    margin-right: calc(-1 * var(--char-width));
    position: relative;
}

.taskbarEntry:hover{
    background: var(--foreground);
    color: var(--background) !important;
    z-index: 9;
    box-shadow: 0px 0px 10px 0px var(--foreground);
}

.taskbarActive {
    background: var(--accent);
    color: var(--foreground) !important;
    z-index: 8;
}

.taskbarEntryTitle, .taskbarEntryLeft, .taskbarEntryRight {
    background: inherit !important;
    color: inherit !important;
}

.taskbarEntryLeft {
    position: absolute;
    left: 0;
    bottom: 0;
}

.taskbarEntryRight {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Windows */

.window {
    position: fixed;
    width: calc(var(--char-width) * 20);
    height: calc(var(--char-height) * 10);
    background-color: var(--background);
    cursor: move;
    overflow: hidden;
    user-select: none;
}

.windowTitlebar,
.windowLeftSide,
.windowRightSide,
.windowBottom {
    position: absolute;
    background: var(--background);
}

.windowTitlebar {
    width: 100%;
    height: var(--char-height);
    top: 0;
}

.windowTitle {
    background: var(--accent);
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    font-weight: bold;
}

.windowControls {
    display: flex;
    gap: var(--char-width);
    background: var(--accent);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.windowCloseButton,
.windowMaximizeButton,
.windowMinimizeButton,
.windowHandle {
    font-weight: bold;
}

.windowCloseButton:hover,
.windowMaximizeButton:hover,
.windowMinimizeButton:hover {
    background: var(--foreground);
    color: var(--background) !important;
    box-shadow: 0px 0px 10px 0px var(--foreground);
}

.windowCloseButton:hover {
    color: var(--highlight) !important;
}

.windowContent {
    user-select: text;
    cursor: auto;
    position: absolute;
    top: var(--char-height);
    left: var(--char-width);
    right: var(--char-width);
    bottom: var(--char-height);
    background-color: var(--background);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.windowLeftSide, .windowRightSide {
    top: var(--char-height);
    bottom: var(--char-height);
    width: var(--char-width);
}

.windowLeftSide {
    left: 0;
}

.windowRightSide {
    right: 0;
}

.windowBottom {
    width: 100%;
    height: var(--char-height);
    bottom: 0;
}

.windowHandle {
    width: var(--char-width);
    height: var(--char-height);
    background: var(--accent);
    cursor: nwse-resize;
    position: absolute;
    bottom: 0;
    right: 0;
}

.windowHandle:hover,
.windowHandle:active {
    background: var(--foreground);
    color: var(--background) !important;
    box-shadow: 0px 0px 10px 0px var(--foreground);
}

/* Responsive design */

@media (max-width: 800px) {
    #mobileNotice {
        display: revert;
    }

    #taskbar,
    .windowMinimizeButton,
    .windowMaximizeButton,
    .windowHandle,
    .windowLeftSide,
    .windowRightSide,
    .windowBottom {
        display: none;
    }

    .windowContent {
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .window {
        left: 0px !important;
        top: 0px !important;
        height: 100% !important;
        width: 100% !important;
        cursor: auto;
    }
}
